@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");

// Convert Pixel to Rem/Em
@function pix-rem($pixel, $suffix: rem) {
        $calculate: calc($pixel/16px);
        @return #{$calculate}#{$suffix};
}
//Mixin

//  Variable: colors and font
$font: (
        "fontFamily": "Red Rose",
);

$colors: (
        "major": #a02279,
        "black": #000000,
        "white": #ffffff,
        "text-black": #434343,
        "grey": #d7d7d7,
        "very-light-grey": #F8F9FA,
        "light-grey": #CFD8DC
);

@mixin media-query($size) {
        @media (max-width: $size) {
                @content;
        }
}
